$mobile-widths: "min-width: 320px";
$tablet-widths: "min-width: 768px";
$desktop-widths: "min-width: 1250px";

// фоновые цвета
$bg-color: #ffffff;
$bg-cute-stuff: #f9f9f9;
// цвет текста
$color-text-grey: #444444;
$color-text-black: #000000;
$color-text-white: #ffffff;
$color-text-blue: #63d1bb;

$box-shadow: #ececec;

$time: 0.3s;
$sliceHeight: 4px;