$mobile-widths: "min-width: 320px";
$tablet-widths: "min-width: 768px";
$desktop-widths: "min-width: 1250px";

// фоновые цвета
$bg-color: #ffffff;
$bg-color-footer: #f1f1f1;
$bg-color-opacity: rgba(255,255,255, 0.3);
$bg-cute-stuff: #f9f9f9;
$bg-blue1: #63d1bb;
$bg-blue2: #56c3b2;

// цвет текста
$color-text-grey: #444444;
$color-text-black: #000000;
$color-text-white: #ffffff;
$color-text-blue: #63d1bb;
$color-text-blue2: #46c1ae;

$box-shadow: #ececec;

$time: 0.3s;
$sliceHeight: 4px;
