.modal-window {
  display: none;
  position: fixed;
  width: 320px;
  margin: 0 auto;
  padding: 35px 30px 46px 30px;
  top: 30%;
  left: 50%;
  margin-left: -160px;
  background-color: $bg-color;
  box-shadow: 0 5px 10px 0 $box-shadow, 0 0 0 1px $box-shadow;
  text-align: center;
  z-index: 10;
}

@keyframes bounce {
  0%    { transform: translateY(-2000px); }
  70%   { transform: translateY(30px);    }
  90%   { transform: translateY(-10px);   }
  1000% { transform: translateY(0);       }
}

.modal-show {
  display: block;
  animation-name: bounce;
  animation-duration: 0.6s;
}

.modal-window__title {
  display: block;
  padding: 0 60px;
  font-size: 25px;
  line-height: 30px;
  color: $color-text-black;
  font-weight: 700;
  margin-bottom: 17px;
}

.modal-window__text {
  display: block;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 20px;
}

.modal-window__size {
  width: 260px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.modal-window__size-label input[type=radio]{
  position: absolute;
  //*прячем браузерскую радиокнопку для стилизации своей
  opactiy: 0;
  width:0;
  height:0;
  //*
}

.modal-window__size-icon {
  position: relative;
  display: inline-block;
  width: 82px;
  height: 52px;
  box-shadow: inset 0 0 0 2px $box-shadow;
  margin-bottom: 31px;
  cursor: pointer;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    font-weight: bold;
    font-size: 17px;
    line-height: 16px;
  }

  &--small {
    &:before {
      content: "S";
      margin-left: -5px;
    }
  }

  &--medium {
    &:before {
      content: "M";
      margin-left: -6px;
    }
  }

  &--large {
    &:before {
      content: "L";
      margin-left: -5px;
    }
  }

  &:hover {
    box-shadow: inset 0 0 0 2px $bg-radio;
    transition-duration: $time;
  }

  &:active {
    box-shadow: inset 0 0 0 2px $bg-line;
    transition-duration: $time;
  }
}

.modal-window__size-radio:checked ~ span {
  box-shadow: inset 0 0 0 2px $bg-line;
}

.modal-window__size-radio:checked ~ span:after {
  display: block;
}

.modal-window__submit-btn {
  background-color: $bg-blue1;
  border: 2px solid $bg-blue1;
  color: $bg-color;
  font-size: 17px;
  line-height: 16px;
  padding: 15px 0;
  width: 260px;
  height: 52px;
  outline: none;

  &:hover {
    background-color: $bg-color;
    color: $bg-blue1;
    transition-duration: $time;
  }

  &:active {
    opacity: 0.3;
  }
}

.modal-window__form {
  position: relative;
}

.modal-window__close {
  z-index: 500;
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
  cursor: pointer;
  background: url("../../img/svg/icon-close.svg") no-repeat center;
  background-size: 20px 20px;

  &:hover {
    opacity: 0.6;
    transition-duration: $time;
  }
}

@media ($tablet-widths) {
  .modal-window {
    width: 568px;
    padding: 40px 108px 46px 108px;
    margin-left: -284px;
  }

  .modal-window__title {
    padding: 0;
    font-size: 30px;
    line-height: 57px;
    margin-bottom: 20px;
  }

  .modal-window__text {
    font-size: 17px;
  }

  .modal-window__size {
    width: 350px;
  }

  .modal-window__size-icon {
    width: 112px;
  }

  .modal-window__submit-btn {
    width: 350px;
  }
}

@media ($tablet-widths) {
  .modal-window {
    width: 568px;
    padding: 40px 108px 46px 108px;
    margin-left: -284px;
  }

  .modal-window__title {
    padding: 0 20px;
    font-size: 30px;
    line-height: 57px;
    margin-bottom: 20px;
  }

  .modal-window__text {
    font-size: 17px;
  }

  .modal-window__size {
    width: 350px;
  }

  .modal-window__size-icon {
    width: 112px;
  }

  .modal-window__submit-btn {
    width: 350px;
  }
}