.page-footer {
  background-color: $bg-color-footer;
}

.page-footer__wrapper {
  width: 260px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.page-footer__logo {
  display: none;
}

.page-footer__social {
  width: 260px;
  min-height: 80px;
  padding: 0 57px;
  box-shadow: inset 0 -1px 0 0 $box-shadow;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  .social__item:hover {
     fill: $color-text-blue2;
   }

  .social__item:active {
    opacity: 0.3;
  }

  .social__item--inst {
    #instagram {
      width: 22px;
      height: 21px;
    }
  }

  .social__item--fb {
    #facebook {
      width: 15px;
      height: 29px;
    }
  }

  .social__item--tw {
    #twitter {
      width: 24px;
      height: 20px;
    }
  }
}

.page-footer__developer {
  width: 260px;
  min-height: 80px;
  display: block;
  align-items: center;
  text-align: center;

  &:active {
    opacity: 0.3;
  }

  .developer__title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 24px;
  }

  .developer__title--text {
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: $color-text-black;
    padding-right: 30px;
  }

  .developer__title--logo {
    width: 27px;
    height: 34px;
    fill: $color-text-blue;

    &:hover {
      fill: $color-text-blue2;
    }
  }
}

@media ($tablet-widths) {
  .page-footer__wrapper {
    width: 668px;
    min-height: 143px;
    flex-direction: row;
  }

  .page-footer__logo {
    display: block;

    #logo-footer {
      width: 102px;
      height: 34px;
    }

    &:hover {
      fill: $color-text-blue2;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .page-footer__social {
    width: 142px;
    padding: 0;
    box-shadow: none;
    justify-content: space-between;

  }

  .page-footer__developer {
    width: auto;

    .developer__title {
      justify-content: flex-end;
    }
  }
}

@media ($desktop-widths) {
  .page-footer__wrapper {
    width: 1050px;
  }
}