<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Mishka</title>
    <meta name="description" content="Вязаные предметы интерьера и детские игрушки. Экологически чистая пряжа. Ручная работа">
<!--    <link rel="stylesheet" href="/styles/main.scss">-->

    <!-- Фавиконы сайта -->
    <link rel="icon" sizes="57x57" href="../img/favicon/mishka-57x57.png"  data-mce-href="../img/favicon/mishka-57x57.png">
    <link rel="icon" sizes="60x60" href="../img/favicon/mishka-60x60.png" data-mce-href="../img/favicon/mishka-60x60.png">
    <link rel="icon" sizes="72x72" href="../img/favicon/mishka-72x72.png" data-mce-href="../img/favicon/mishka-72x72.png">
    <link rel="icon" sizes="76x76" href="../img/favicon/mishka-76x76.png" data-mce-href="../img/favicon/mishka-76x76.png">
    <link rel="icon" sizes="114x114" href="../img/favicon/mishka-114x114.png" data-mce-href="../img/favicon/mishka-114x114.png">
    <link rel="icon" sizes="120x120" href="../img/favicon/mishka-120x120.png" data-mce-href="../img/favicon/mishka-120x120.png">
    <link rel="icon" sizes="144x144" href="../img/favicon/mishka-144x144.png" data-mce-href="../img/favicon/mishka-144x144.png">
    <link rel="icon" sizes="152x152" href="../img/favicon/mishka-152x152.png" data-mce-href="../img/favicon/mishka-152x152.png">
    <link rel="icon" sizes="180x180" href="../img/favicon/mishka-180x180.png" data-mce-href="../img/favicon/mishka-180x180.png">
    <link rel="icon" type="image/png" href="../img/favicon/mishka-32x32.png" sizes="32x32" data-mce-href="../img/favicon/mishka-32x32.png">
    <link rel="icon" type="image/png" href="../img/favicon/mishka-192x192.png" sizes="192x192" data-mce-href="../img/favicon/mishka-192x192.png">
    <link rel="icon" type="image/png" href="../img/favicon/mishka-96x96.png" sizes="96x96" data-mce-href="../img/favicon/mishka-96x96.png">
    <link rel="icon" type="image/png" href="../img/favicon/mishka-16x16.png" sizes="16x16" data-mce-href="../img/favicon/mishka-16x16.png">
</head>
<body>

<!-- обертка для всего содержимого-->
<div class="page-wrapper">

    <header class="page-header">
        <!-- Блок меню навигации -->
        <div class="main-nav">
                <a href="" class="page-header__logo">
                    <picture>
                        <source media="(min-width: 1150px)" srcset="../img/svg/logo-desktop.svg">
                        <source media="(min-width: 768px)" srcset="../img/svg/logo-tablet.svg">
                        <img src="../img/svg/logo-mobile.svg" width="86" height="80" alt="Мишка">
                    </picture>
                </a>
                <nav class="main-menu">
                    <!-- логотип-кнопка бургер -->
                    <a class="main-menu__toggle-wrapper">
                        <div class="main-menu__toggle main-menu__toggle--crossed"></div>
                    </a>
                    <!-- элементы меню бургера -->
                    <ul class="main-menu__list main-menu__list--visible">
                        <li class="main-menu__item"><a href="catalogue.html" class="main-menu__title">Каталог товаров</a></li>
                        <li class="main-menu__item"><a href="form.html" class="main-menu__title">Вязание на заказ</a></li>
                        <li class="main-menu__item"><a href="/search.html" class="main-menu__title main-menu__title--search">Поиск по сайту</a></li>
                        <li class="main-menu__item"><a href="/cart.html" class="main-menu__title">Корзина: пока пуста</a></li>
                    </ul>
                    <ul class="extra-menu__list">
                        <li class="extra-menu__item"><a href="/.html" class="extra-menu__title">Новые поступления</a></li>
                        <li class="extra-menu__item"><a href="/.html" class="extra-menu__title">Распродажа</a></li>
                        <li class="extra-menu__item"><a href="/.html" class="extra-menu__title">Бесплатная доставка по России</a></li>
                    </ul>
                </nav>
            </div>
    </header>

    <main>
        <!-- блок "Милые штучки" с двумя кнопками -->
        <section class="cute-stuff">
            <h1 class="cute-stuff__title">Милые штуки ручной <br> работы для дома</h1>
            <div class="cute-stuff__buttons">
                <a href="#" class="interior-btn  green-btn">Предметы<br>интерьера</a> <!-- иконка -   псевдоэлемент -->
                <a href="#" class="toys-btn  green-btn">Детские<br>игрушки</a> <!-- иконка -   псевдоэлемент -->
            </div>
            <span class="wave-wide"></span>
        </section>

        <!-- блок Товар Недели -->
        <section class="best-item">
            <div class="best-item-wrapper">
                <h3 class="best-item__title">Вязаные корзинки</h3>
                <span class="best-item__subtitle">ТОВАР НЕДЕЛИ</span>

                <p class="best-item__text">Экологически чистая пряжа, ручная работа. Доступны в шести расцветках, и трех размерах.</p>
                <table class="best-item__description" border="0">
                    <tr>
                        <th>Цвет</th>
                        <th>«Тиффани»/серый </th>
                    </tr>
                    <tr>
                        <td>Диаметр</td>
                        <td>25 см</td>
                    </tr>
                    <tr>
                        <td>Высота</td>
                        <td>15 см</td>
                    </tr>
                </table>

                <div class="best-item__img"></div>

                <div class="best-item__price-wrapper">
                    <p class="best-item__price">Цена: 990 руб.</p>
                    <a href="" class="best-item__btn">ЗАКАЗАТЬ</a>
                </div>
            </div>
        </section>
        <div class="wide"></div>
    </main>



</div>
</body>
</html>