.form-comment textarea {
  width: 260px;
  height: 140px;
  padding: 15px;
  border: none;
  outline: none;
  resize: none;
  box-shadow: inset 0 0 0 2px $color-text-black;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  overflow: auto;

  &:hover {
    box-shadow: inset 0 0 0 2px $bg-line;
    transition-duration: $time;
  }

  &:focus, &:active {
    box-shadow: inset 0 0 0 2px $bg-line;
  }
}